PREFIX sitterms: <http://esterline.ncat.edu/identity#>
PREFIX lawterms: <http://esterline.ncat.edu/lawenforcement#>
PREFIX biom: <http://esterline.ncat.edu/biometric#>
PREFIX recterms: <http://esterline.ncat.edu/personalrecords#>
PREFIX insys: <http://esterline.ncat.edu/insystem#>

SELECT 
#foreach( $var in $varList )
$var
#end
WHERE{
	
	

	#if($OfficerName)
	{
		sit:s1 sitterms:hasInfon ?y.
		?y sitterms:fpRecorded ?f.
		?i sitterms:fpRecorded ?f.
		?s sitterms:hasInfon ?i.
		?i sitterms:fpTakingOfficer ?x.
		?x foaf:name $offNameVar.
	}
	#end
	#if($numQueries > 1)
		UNION
	#end
	#if($)
	{
		sit:s2 sitterms:hasInfon ?i.
		?i sitterms:picRecorded ?p.
		?i2 sitterms:mugRecorded ?p.
		?s sitterms:hasInfon ?i2.
		?i2 sitterms:mugTakingOfficer ?x.
		?x foaf:name ?fname.
	}
	#end
	#if($numQueries > 1)
		UNION
	#end
	
	

	#if($numQueries > 1)
		UNION
	#end
	
	
	
	#if($numQueries > 1)
		UNION
	#end
	
	
}